body{
    background-color: #fff;
    font-family:-apple-system, BlinkMacS ystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #0B346A;
}


.navbar-brand{
    image{
        max-height: 20px;
    }
}


.navbar-light{
    .navbar-nav{
        .nav-link{
            color: #0B346A;

            &.active{
                font-weight: bold;
                color: #031E41 !important;
            }

        }
    }
}

.btn-navbar-right{
    margin-top: -10px !important;
    margin-bottom: -8px !important;
    margin-right: -18px !important;

    height: 70px;
    border-radius: 0;

}


.btn-login{
    background-color: #0B346A;
    color: #fff;

    &:hover{
        background-color: #194987a4;
        color: #fff;
    }
}

//header

header{
    padding: 180px 0 165px ;
    margin-top: -68px;
    background-image: url(../images/header.jpg);
    background-size: cover;

    h1, p{
        color: #fff;
    }

    h1{
        font-family: 'Playfair Display', serif;
        font-weight: bold;
        font-size: 50px;
    }

    p{
        font-size: 22px;
    }

    .btn-get-started{
        background-color: #FF8C33;
        color: #fff;

        &:hover{
            background-color: #FF9E53;
            color: #fff;
        }
    }

}

// statistik
.section-stats{
    margin-top: -50px;
    
    .stats-detail{
    padding-top: 15px;
    padding-left: 70px;
    background-color: #fff;
    }

    h2{
        font-size: 30px;
        color: #0B346A;
    }

    p{
        font-size: 20px;
        color: #0B346A;
        font-weight: lighter;
    }

}

// wisata popular
.section-popular {
    min-height: 540px;
    background: #051334;
    margin-top: -55px;
    margin-bottom: -230px;
  
    .section-popular-heading {
      margin-top: 150px;
  
      h2,
      p {
        color: #fff;
      }
  
      h2 {
        font-family: 'Playfair Display', serif;
        font-weight: bold;
      }
    }
  }

.section-popular-content{
    .section-popular-travel{
        .card-travel{
            min-height: 380px;
            background-color: #ddd;
            color: #fff;
            padding: 30px;
            background-size: cover;
            margin-bottom: 20px;

            

            .travel-country{
                font-size: 16px;
                color: #fff;

            }

            .travel-location{
                font-size: 20px;
                color: #fff;
            }

            .travel-button{
                .btn-travel-details{
                    background-color: #FF8C33;
                    color: #fff;

                    &:hover{
                        background-color: #FF9E53;
                        color: #fff;
                    }
                }
           }  
        }
    }
}


.section-networks{
	background-color: #fff;
	margin-top: -170px;
	padding-top: 240px;
	margin-bottom: 50px;

	h2{
		font-family: 'Playfair Display', serif;
		font-weight: bold;;
	}

	img{
		max-width: 100%;

	}
}

.section-testimonial-heading{
	background: linear-gradient(#fff 0%, #f7f9ff 100%);
	padding-top: 50px;
	min-height: 506px;

	h2{
		font-family: 'Playfair Display', serif;

	}

}

.section-testimonial-content{
	margin-top: -300px;
	margin-bottom: 50px;

	.card-testimonial{
		padding: 40px 20px 10px;
		border-radius: 11px;
		margin-bottom: 20px;
	}

	.testimonial-content{
		min-height: 300px;
	}

	h3{
		font-size: 20px;
	}

	.testimonial{
		font-weight: 200px;
		font-size: 22px;
		color: #6e6e6e;
		
	}

	.trip-to{
		font-weight: normal;
		font-size: 20px;
		color: #6e6e6e;
	}

	hr{
		margin-left: -20px;
		margin-right: -20px;
	}
	

	.btn-need-help{
		border-color: #FF8C33;
		color: #FF8C33;
	}

	.btn-get-started{
		background-color: #FF8C33;
		color: #fff;

		&:hover{
			background-color: #FF9E53;
			color: #fff;
		}
	}

}

.section-footer{
	a{
		color: #0B346A;
	}
}


// detail
.section-details-header{
    min-height: 310px;
    background-color:#E2E2E2;
    margin-top: -70px;

}

.section-details-content{
    margin-top: -210px;
   min-height: 100vh;
    .breadcrumb{
        background-color: transparent;
        padding: 0px;
        margin-bottom: 30px;
    }

    .breadcrumb-item{
        &.active{
            font-weight: bold;
            color: #0B346A ;
        }
    }

    .card-details{
      padding: 30px;
      border-radius: 11px;

      h1{
          font-size: 26px;
      }

      h2{
          font-size: 20px;
      }

      p{
          font-size: 18px;
          color: #b1b1b1;
			}
			
			.trip-information{
				th{
					font-weight: 300;
					font-size: 18px;
					color: #0B346A;
				}

				td{
					font-weight: 200;
					font-size: 18px;
					color: #5F6D7E;
				}
			}

			.paid-information{
				font-weight: 200;
				font-size: 14px;
				color:  #5F6D7E;
			}

			.text-blue{
				color: #0B346A;
				font-weight: bold;
			}

			.text-orange{
				color: #FF8C33;
				font-weight: bold;
			}
		}
		
		.card-right{
			border-bottom-left-radius: 0;
			border-bottom-right-radius: 0;
			border-bottom: 0;

		}

    .features{
      margin-top: 20px;

      h3{
        font-size: 18px;
        color: #0B346A;
        padding-top: 0px;
      }

      p{
        margin-top: 0px;
        font-size: 14px;
      }

      .description{
        margin-left: 10px;
        overflow: hidden;
        float: left;
      }

      .featured-image{
        width: 50px;
        height: 50px;
        float: left;
			}

    }

.gallery {
		.xzoom-container {
			display: block;

			.xzoom {
				width: 100%;
				box-shadow: none;
				margin-bottom: 10px;
			}

			.xactive {
				border: 2px solid #1abc9c;
				box-shadow: none;
			}
		}
	}

	.features {
		margin-top: 20px;

		h3 {
			font-size: 18px;
			color: #071c4d;
			margin-bottom: 0;
		}

		p {
			margin-bottom: 0;
		}

		.description {
			margin-left: 10px;
			overflow: hidden;
			float: left;
		}

		.features-image {
			width: 45px;
			height: 45px;
			float: left;
		}
	}

	.join-container{
		margin-top: -16px;
	}

	.members{
		.member-image{
			width: 40px;
			height: 40px;
		}
	}

	.btn-join-now{
		background-color: #FF8C33;
		color: #fff;
		border-radius: 0;
	

		&:hover{
			background-color: #FF9E53;
			color: #fff;
		}
	}

	.btn-add-now{
		background-color: #0B346A;
		color: #fff;
	
		&:hover{
			background-color: #053c83 ;
			color: #fff;
		}
	}

	.Note{
		h3,.notedetails{
			font-size: 14px;
		}
	}

	.gj-datepicker{
		.datepicker{
		 border-right: 0;
		}

		.input-group-append{
			.btn{
			 padding-right: 30px;
			}
		}
	}
}


